pdf2image
pillow
#PIL
pytesseract
pandas
opencv-python
matplotlib
tesserocr

# pip3 install --upgrade setuptools
# sudo apt-get install ffmpeg libsm6 libxext6  -y
# sudo apt-get install poppler-utils
# sudo apt-get install libleptonica-dev tesseract-ocr libtesseract-dev python3-pil tesseract-ocr-eng tesseract-ocr-script-latn
# sudo apt-get install tesseract-ocr-all